//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$brand-primary: $wtw_violet;
$brand-success: #718b2a;
$brand-info:    $wtw_grey;
$brand-warning: #e9af01;
$brand-danger:  #ff1d23;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg: $wtw_sand;
//** Global text color on `<body>`.
$text-color: $wtw_black;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: Helvetica, Arial, sans-serif;
$font-size-base: 16px;
//** Unit-less `line-height` for use in components like buttons.
$line-height-base: 1.375;
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed: floor(($font-size-base * $line-height-base));

$font-size-h1: 36px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: 15px;
$font-size-h6: 13px;

$headings-font-weight: bold;
$headings-line-height: 1.1;


//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

$icon-font-path: '../fonts/';


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$border-radius-base:  0;
$border-radius-large: 0;
$border-radius-small: 0;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:    bold;

$btn-default-color:  $wtw_grey;
$btn-default-bg:     $wtw_white;
$btn-default-border: $wtw_grey;

$btn-primary-bg:     $brand-primary;
$btn-primary-border: $btn-primary-bg;

$btn-success-bg:     $brand-success;
$btn-success-border: $btn-success-bg;

$btn-info-bg:        $brand-info;
$btn-info-border:    $btn-info-bg;

$btn-warning-bg:     $brand-warning;
$btn-warning-border: $btn-warning-bg;

$btn-danger-bg:      $brand-danger;
$btn-danger-border:  $btn-danger-bg;


//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-bg:                    $wtw_white;

//** Divider color for between dropdown items.
$dropdown-divider-bg:            $wtw_light_grey;

//** Dropdown link text color.
$dropdown-link-color:            $wtw_black;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      $wtw_black;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         transparent;

//** Active dropdown menu item text color.
$dropdown-link-active-color:     $wtw_black;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:        transparent;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   $wtw_grey;

//** Text color for headers within dropdown menus.
$dropdown-header-color:          $wtw_grey;


//== Forms
//
//##

//** Border color for inputs on focus
$input-border-focus: $brand-primary;

//** `.form-group` margin
$form-group-margin-bottom: $line-height-computed;

$legend-color:                   inherit;
$legend-border-color:            $wtw_light_grey;


//== Jumbotron
//
//##

$jumbotron-bg: $wtw_white;


//== Navbar
//
//##

// Basics of a navbar
$navbar-margin-bottom:  $line-height-computed * 1.5;
$navbar-default-color:  $wtw_black;
$navbar-default-bg:     $body-bg;
$navbar-default-border: transparent;

// Navbar links
$navbar-default-link-color:          $wtw_black;
$navbar-default-link-hover-color:    $brand-primary;
$navbar-default-link-active-color:   $wtw_white;
$navbar-default-link-active-bg:      $wtw_black;
$navbar-default-link-disabled-color: $wtw_grey;


//== Navs
//
//##

//=== Shared nav styles
$nav-link-padding:                          6px 15px;
$nav-link-hover-bg:                         transparent;

//== Tabs
$nav-tabs-border-color:                     $wtw_black;

$nav-tabs-active-link-hover-bg:             $wtw_black;
$nav-tabs-active-link-hover-color:          $wtw_white;
$nav-tabs-active-link-hover-border-color:   $wtw_black;

$nav-tabs-justified-link-border-color:            transparent;
$nav-tabs-justified-active-link-border-color:     transparent;


//== Panels
//
//##

$panel-bg:                    $wtw_white;
$panel-body-padding:          30px 20px;
$panel-heading-padding:       15px 20px;

//** Border color for elements within panels
$panel-footer-bg:             $wtw_light_grey;

$panel-default-text:          $wtw_black;
$panel-default-heading-bg:    $wtw_light_grey;


//== Wells
//
//##

$well-bg:                     $wtw_black;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            16px;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  8px;


//== Type
//
//##

//** Text muted color
$text-muted:                  $wtw_grey;
//** Abbreviations and acronyms border color
$abbr-border-color:           $wtw_grey;
//** Headings small color
$headings-small-color:        $wtw_grey;
//** Blockquote small color
$blockquote-small-color:      $wtw_grey;
//** Blockquote font size
$blockquote-font-size:        inherit;
//** Blockquote border color
$blockquote-border-color:     $wtw_black;
//** Page header border color
$page-header-border-color:    $wtw_black;
//** Horizontal line color.
$hr-border:                   $wtw_light_grey;
