// colours

$wtw_violet:       #702082;
$wtw_black:        #000000;
$wtw_light_grey:   #efefef;
$wtw_grey:         #666666;
$wtw_white:        #ffffff;

$wtw_sand:         #efeede;
$wtw_light_blue:   #c9d8df;
$wtw_light_purple: #d7d6dd;
$wtw_light_pink:   #ded1cf;
$wtw_light_green:  #d9e5db;

$wtw_green:        #00c389;
$wtw_blue:         #00a0d2;
$wtw_magenta:      #c110a0;
$wtw_yellow:       #ffb81c;
