// imports

@import "variables";
@import "bootstrap";



// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower



// base styles

body {
  &.wtw-light-blue   { background-color: $wtw_light_blue;   }
  &.wtw-light-purple { background-color: $wtw_light_purple; }
  &.wtw-light-pink   { background-color: $wtw_light_pink;   }
  &.wtw-light-green  { background-color: $wtw_light_green;  }
}

ul {
  list-style-type: square;
}

blockquote {
  border-left-width: 3px;
}

.blockquote-reverse,
blockquote.pull-right {
  padding-right: 22px;
  border-right-width: 3px;
}



// main

[role=main] {
  padding-top: $navbar-height + $line-height-computed * 2 + 3 + $navbar-margin-bottom;
  margin-bottom: $line-height-computed * 4;
}



// footer

[role=contentinfo] {
  padding-top:    $line-height-computed * 2;
  padding-bottom: $line-height-computed * 1.5;
  color: $wtw_white;
  font-size: 13px;
  background-color: $wtw_black;

  a {
    color: inherit;
  }
}



// btn

.btn {
  text-transform: uppercase;
}



// dropdown-menu

.dropdown-menu {
  padding: 0 ($grid-gutter-width / 2);
  border: none;
  box-shadow: none;

  > li {
    > a {
      padding: ($line-height-computed / 2) 0;
      border-bottom: 1px solid $wtw_light_grey;
    }

    &:last-child {
      > a {
        border-bottom: none;
      }
    }
  }

  .navbar-nav > li > & {
    font-size: 14px;
  }
}



// datepicker dropdown-menu

.bootstrap-datetimepicker-widget {
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

  table {
    td,
    th {
      border-radius: 0;
    }

    td {
      span {
        border-radius: 0;
      }

      &.today:before {
        border-bottom-color: $brand-primary;
      }

      &.active,
      &.active:hover,
      span.active {
        background-color: $brand-primary;
      }
    }
  }
}



// forms

label {
  font-weight: normal;
}



// glyphicon

.glyphicon-ss {
  font-size: .5em;
  vertical-align: middle;
}

.glyphicon-s {
  font-size: .75em;
  vertical-align: middle;
}

.glyphicon-l {
  font-size: 1.333em;
  vertical-align: middle;
}

.glyphicon-xl {
  font-size: 1.75em;
  vertical-align: middle;
}



// page-header

.page-header {
  margin-top:    $line-height-computed;
  margin-bottom: $line-height-computed * 1.5;
  padding-bottom: 0;

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-size: 30px;
    font-weight: lighter;
  }
}



// section-header

.section-header {
  margin-top:    $line-height-computed * 2;
  margin-bottom: $line-height-computed;
  padding-bottom: 0;
  border-bottom: 1px solid $wtw_light_grey;

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    font-size: 18px;
  }

  &:first-child {
    margin-top: 0;
  }
}



// panel

.panel {
  border: none;
  box-shadow: none;
}

.panel-heading {
  border-bottom: none;
}

.panel-footer {
  border-top: none;
}



// well

.well {
  margin-bottom: $line-height-computed;
  padding: $panel-body-padding;
  color: $wtw_white;
  border: none;
  box-shadow: none;
}

.well-sm {
  padding-top: 15px;
  padding-bottom: 15px;
}

.well-lg {
  padding-top: 40px;
  padding-bottom: 40px;
}



// navbar

.navbar {
  padding-top:    $line-height-computed;
  padding-bottom: $line-height-computed;
  font-size: 14px;
  border: none;
  border-bottom: 3px solid $wtw_black;
}

.navbar-default {
  body.wtw-light-blue &   { background-color: $wtw_light_blue;   }
  body.wtw-light-purple & { background-color: $wtw_light_purple; }
  body.wtw-light-pink &   { background-color: $wtw_light_pink;   }
  body.wtw-light-green &  { background-color: $wtw_light_green;  }
}

.navbar-brand {
  padding-top: $navbar-height / 2 - 17px;
  padding-bottom: $navbar-height / 2 - 17px;
  font-size: 17px;
  font-weight: lighter;
  line-height: 17px;

  @media (min-width: $screen-md-min) {
    padding-top: 0;
    padding-bottom: 0;
    font-size: $navbar-height / 2;
    line-height: $navbar-height / 2;
  }

  strong {
    display: block;
  }

  .navbar-default & {
    color: $brand-primary;
  }
}



// nav-tabs

.nav-tabs {
  > li {
    > a {
      > small {
        display: block;
        font-size: .75em;
        text-transform: uppercase;
      }

      &:hover {
        border-color: transparent;
      }
    }
  }
}



// tables

.table > thead > tr > th,
.table > thead > tr > td {
  color: $wtw_white;
  background-color: $wtw_grey;
  border-bottom: none;
}

.table > thead > tr > td.primary,
.table > thead > tr > th.primary,
.table > thead > tr.primary > td,
.table > thead > tr.primary > th,
.table > tbody > tr > td.primary,
.table > tbody > tr > th.primary,
.table > tbody > tr.primary > td,
.table > tbody > tr.primary > th,
.table > tfoot > tr > td.primary,
.table > tfoot > tr > th.primary,
.table > tfoot > tr.primary > td,
.table > tfoot > tr.primary > th {
  color: $wtw_white;
  background-color: $brand-primary;

  a {
    color: inherit;
  }
}

.table-blocks > tbody > tr > th,
.table-blocks > tbody > tr > td,
.table-blocks > tfoot > tr > th,
.table-blocks > tfoot > tr > td {
  background-color: $wtw_light_grey;
  border-top: 10px solid $wtw_white;
}



// secondary-actions

.secondary-actions {
  @media (min-width: $screen-md-min) {
    position: absolute;
    bottom: 0;
    left: 100%;
    width: calc(33.33333333% - #{$grid-gutter-width});
    margin-bottom: $line-height-computed / 2;
    margin-left: $grid-gutter-width / 2;
  }
}



// banner

.banner {
  position: relative;
  margin-top: -$navbar-margin-bottom;
  margin-bottom: -$line-height-computed * 4;
}

.banner-caption {
  @media (min-width: $screen-sm-min) {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    padding-top: $line-height-computed * 2;
    padding-left: $grid-gutter-width;
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    font-size: 24px;
    font-weight: lighter;
  }
}

.banner-image {
  display: block;
  width: 100%;
  height: auto;
}



// willis-logo

.willis-logo {
  margin-bottom: $line-height-computed;
  padding-bottom: $line-height-computed;
  border-bottom: 1px solid #ffffff;

  @media (min-width: $screen-md-min) {
    margin-bottom: 8px;
    padding-bottom: 120px;
  }
}



// inline-nav

.inline-nav {
  > ul {
    padding: 0;
    list-style: none;

    > li {
      display: inline-block;

      &:before {
        content: " | ";
        margin: 0 .25em;
      }

      &:first-child {
        &:before {
          display: none;
        }
      }
    }
  }
}



// copyright

.copyright {
  @media (min-width: $screen-md-min) {
    text-align: right;
  }

  small {
    font-size: inherit;
  }
}



// appointment-summary

.appointment-summary {
  margin-bottom: $line-height-computed * 1.5;
}

.appointment-summary__name {
  margin: 0;
  font-size: $font-size-h2;
  font-weight: lighter;
}

.appointment-summary__meta {
  margin: .5em 0;
  padding: 0;
  font-weight: lighter;
  list-style: none;
}

.appointment-summary__status {
  margin: 0;
  font-size: 14px;
}

.appointment-summary__status-label {
  color: $brand-success;
  font-size: 10px;
  text-transform: uppercase;
}

.appointment-blocks {
  display: block;
}



// appointment-blocks

.appointment-blocks {
  display: none;
  width: 100%;
  height: auto;
  margin-bottom: $line-height-computed * 1.5;

  @media (min-width: $screen-md-min) {
    display: block;
  }
}



// appointment-details

.appointment-details {
  margin-bottom: 0;

  dt {
    margin-left: -11px;
    padding-left: 9px;
    font-size: 12px;
    text-transform: uppercase;
    border-left: 2px solid $blockquote-border-color;
  }

  dd {
    margin-bottom: $line-height-computed;
    margin-left: -11px;
    color: $wtw_grey;
    padding-left: 9px;
    font-size: 14px;
    border-left: 2px solid $blockquote-border-color;
  }
}

.dropdown.panel.panel-primary.active .panel-heading {
    background: #c728a9;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #7e368e;
    border-color: #7e368e;
}

.logged-in-as {
    margin-bottom: 20px;
}

.dropdowns .dropdown {
    margin-bottom: 2px;
    cursor: pointer;
    transition: ease all 0.1s;
    width: 33%;
    display: inline-block;
    &:hover {
      opacity: 0.8;
    }
}

.content-form {
    display: none;
    margin-top: 20px;
    margin-bottom: 50px;
}

.basic-table {
    margin-bottom: 50px;
}


label.control-label {
    margin-top: 7px;
}

.process-now .btn {
    float: right;
}



.enter-email {
  display: none;
      margin-top: 10px;
}

span.editable {
    text-decoration: underline;
    cursor: pointer;
}


.edit-document {
    display: none;
}

tr.active-row {
    background: #d9edf7 !important;
}






a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:394px;
  z-index:50;
  padding: 25px 25px 20px;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}

.the-document {
    padding: 0px 40px 40px 40px;
    max-height: 620px;
    overflow-y: scroll;
}

.new-document.letters-correspondence, .slips-certs {
  display: none;
}

a.editable {
    color: inherit;
    text-decoration: underline;
}

.edit-slips-certs-wording {
    display: none;
}

.single-doc-popup {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    .inner {
      height: 700px;
      width: 690px;
      margin: auto;
      background: white;
      margin-top: 5%;
      position: relative;
    }
    .document-footer {
        position: absolute;
        bottom: 0px;
        width: 100%;
        padding: 20px;
        text-align: right;
    }
}

span.remove-option {
    text-decoration: underline;
    margin-top: 8px;
    display: block;
    color: red;
    margin-bottom: 10px;
    cursor: pointer;
}

button.btn.btn-danger.remove-option {
    font-size: 12px;
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
}

.first-item .panel-heading, .second-item .panel-heading, .third-item .panel-heading {
    padding: 20px 20px;
    text-align: center;
}

.checkbox.remarketed {
    margin-left: 17px;
}

.radio.remarketed {
    margin-left: 17px;
}

.hidden-options-01, .hidden-options-02 {
  display: none;
}

.reports-and-manuals {
  display: none;
}

.other-documents {
    display: none;
}

.form-01 {
  .doc-type-heading {
      text-align: center;
      margin-bottom: 10px;
      span {
        margin-right: 3px;
      }
  }
}

td.actionable a {
    color: black;
    text-decoration: none;
    &:hover {
      opacity: 0.6;
    }
}

td.actionable .archive {
    margin-right: 10px;
}

thead tr th {
    text-align: center;
}

p.warning-not-available {
    text-align: center;
}

a.view-it span {
    margin-right: 5px;
}

button.btn.btn-default.move-to-select, button.btn.btn-default.move-to-select-third, button.btn.btn-default.move-to-select-second {
    background: #d9e6dc;
    border: 1px solid #d9e6dc;
}


table.table.table-striped.table-hover {
    text-align: center;
}


.input-group.keywords {
    width: 100%;
}


#first-scroll, #second-scroll, #third-scroll {
  padding-top: 100px;
  margin-top: -100px;

}

.panel-heading span.glyphicon {
    margin-right: 7px;
}

// MOBILE //



@media screen and (max-width: 991px) {
  .dropdowns .dropdown {
      margin-bottom: 2px;
      cursor: pointer;
      transition: ease all 0.1s;
      width: 32.33%;
      display: inline-block;
      min-height: 74px;
      font-size: 14px;
  }
  .dropdowns {
      display: flex;
      justify-content: space-between;
  }
  .panel.panel-default.archive-filters .col-lg-3 {
      margin-bottom: 20px;
      select {
        text-align: center;
      }
  }
  .checkbox {
      margin-left: 17px;
  } 
  .archive-filters .col-lg-4 { 
      margin-bottom: 20px;
  }
  table.table.table-striped.table-hover {
      overflow-x: scroll;
      display: block;
  }
}

@media screen and (max-width: 768px) {
  .dropdowns .dropdown {
      margin-bottom: 2px;
      cursor: pointer;
      transition: ease all 0.1s;
      width: 32.33%;
      display: flex;
      min-height: 74px;
      font-size: 12px;
  }
  .dropdowns .panel-heading {
      display: flex; 
      flex-direction: column;
      span { 
          margin-bottom: 5px;
      }
  }
  .the-document {
      max-height: 400px;
  }
  .panel-heading {
      text-align: center;
  }
  .doc-type-heading {
      text-align: left !important;
  }
}
 

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .dropdown.panel.panel-primary {
        font-size: 12px;
        min-height: auto !important;
    }
}



